{% for item in backend_config | dict2items | sort(attribute='key') %}
{{ item.key }}={{ item.value | string | to_json }}
{% endfor %}
SerilogOptions__WriteTo__1__Args__path={{ (application_log_root ~ '/backend-.log') | to_json }}
